# Placed here by {{ lookup('env','USER') }} using Ansible, {{ ansible_date_time.date }}.
# May be overwritten later.
#

#This configuration file loads a weblogic plugin module.

LoadModule weblogic_module modules/mod_wl_24.so

<IfModule mod_weblogic.c>
  WebLogicCluster     {{ weblogic_cluster_listen_address }}
{% if debug_config_info is defined %}
  DebugConfigInfo     {{ debug_config_info | ternary("ON","Off") }}
{% endif %}
  SecureProxy         ON
  WLSSLWallet         {{ identity_keystore_path }}/wallet

  <Location / >
    SetHandler weblogic-handler
    WLSRequest ON
  </Location>

</IfModule>
