#!/usr/bin/env bash

export JAVA_HOME={{ java_home }}
export ORAPKI={{ oracle_base }}/weblogic-plugin/bin/orapki

echo dust the old wallet
rm -rf {{ oracle_base }}/certs/wallet*

echo create a new wallet
$ORAPKI wallet create -wallet {{ oracle_base }}/certs/wallet -auto_login_only

# the ansible staylorx.keystore role creates a p12 and leaves it under /etc/pki/tls/misc/identity.p12
echo add the p12 to the wallet
$ORAPKI wallet import_pkcs12 -wallet {{ oracle_base }}/certs/wallet -auto_login_only -pkcs12file {{ tls_path }}/misc/identity.p12 -pkcs12pwd {{ keystore_password }}

